<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>

<body>
	<div class="grid-container">
		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
		<nav>
			<ul class="nav nav-pills nav-fill bg-header-purple">
				<li class="nav-item"><a th:href="@{/account}"
					class="nav-link active">Account Management</a></li>
				<li class="nav-item"><a th:href="@{/customer}"
					class="nav-link active">Customers</a></li>
				<li class="nav-item"><a th:href="@{/order}"
					class="nav-link active">Orders</a></li>
				<li class="nav-item"><a th:href="@{/product}"
					class="nav-link active">Products</a></li>
				<li class="nav-item"><a th:href="@{/}" class="nav-link active">Logout</a></li>
			</ul>
		</nav>
	</div>

	<div class="m-3">
		<div class="input-group">
			<form action="#" th:action="@{/product/update}"
				th:object="${productToUpdate}" method="post">

				<table class="table table-hover">

					<input type="hidden" th:field="*{id}" />
					<thead>
						<tr>
							<th class="centered-cell">Name</th>
							<th class="centered-cell">Price</th>
							<th class="centered-cell">Stock</th>
						</tr>
						<tr>
							<td><input type="text" th:field="*{name}"
								class="form-control centered-cell"></td>
							<td><input type="text" th:field="*{price}"
								class="form-control centered-cell"></td>
							<td><input type="text" th:field="*{stock}"
								class="form-control centered-cell"></td>
							<td><input type="submit" value="Update Product"
								class="btn btn-success"></td>
						</tr>
				</table>
				<div class="m-2">
					<a th:href="@{/product}" class="btn btn-secondary">Back</a>
				</div>


			</form>
		</div>
	</div>
</body>
</html>