<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>

<body>
<div class="grid-container">
  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
  </div>
  <h1> Enter new values </h1>
  <form action="#" th:action="@{/product/update}" th:object="${productToUpdate}" method="post" >
  	<table >

  		<input type="hidden" th:field="*{id}" />
  
  		<tr>
  			<td>Name</td>
  			<td>Price</td>
  			<td>Stock</td>
  		</tr>
			<tr>
            	<td> <input type="text" th:field="*{name}" ></td>
            	<td> <input type="text" th:field="*{price}"></td>
            	<td> <input type="text" th:field="*{stock}"></td>
  			</tr>
  	</table>
    <tr>
      	<a th:href="@{/medewerkers}">Terug naar Hoofdmenu</a>
  		<input type="submit" value="Update Product" >
  	</tr>
  </form>		
  </body>
  </html>