<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/order.css}">
</head>

<body>
	<div class="grid-container">
		<div class="header">
		<div class="mt-3 mb-3">
			<img th:src="@{/images/header.png}" alt="Header" class="center" />
			</div>
		</div>

		<div class="orderRechts">
			<div class="mt-3 mr-3">
				<h2>Current Order</h2>
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Product</th>
						<th>Amount</th>
						<th>Price</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="orderLine, iterStat : ${orderLineList}">
							<td th:text="${orderedProductList[__${iterStat.index}__].name}"></td>
							<td th:text="${orderLine.amount}"></td>
							<td th:text="${orderedProductList[__${iterStat.index}__].price} * ${orderLine.amount}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="orderLinks">
			<div class="m-3">

				<form action="#" th:action="@{/order/create/addOrderLine/}"
					th:object="${orderLine}" method="post">
					<div class="form-group col-lg-14">
						<label for="productForm"><h2>Product List</h2></label> 
						<select 
							th:field="*{product.id}"  size="10" class="form-control"
							id="productForm" onchange="myFunction()"
							title="Choose one of the following..." >
							
							<option th:each="dropDownItem : ${productList}"
								th:value="${dropDownItem.getId()}"
								th:text="${dropDownItem.getName()}" />
						</select>
					</div>
					<table>
					<tr>
					
					<td><label>Amount</label><input type="text" th:field="*{amount}" th:value="amount"></td>
					</tr>
					</table>
					<table>
					<tr>
					<td><input type="submit" value="        Add Product to Order        "> </td>
					</tr>
					</table>

				</form>

			</div>
		</div>
		<div class="orderMidden">
			<div class="mt-5 text-center">
				<p id="demo"></p>
				<p id="demotext"></p>
			</div>
		</div>
	
	
	<div class = "orderRechts">
	<div class="text-right">
	<div class="fixed-bottom">
	
		<div class="m-5">
		<div class="mb-5">
			<form action="#" th:action="@{/order/create/save}"
				th:object="${selectedCustomer}" method="post">
				<input type="submit" value="Submit Create Order">
			</form>

			<form action="#" th:action="@{/order/create/clear}"
				th:object="${orderLineList}" method="post">
				<input type="submit" value="Clear Current Order">
			</form>

			<p>
			<div>
				<span class="validationError" th:text="${stockError}"></span>
				</div>
			</div>
			</div>
</body>
<script>
	function myFunction() {
		var x = document.getElementById("productForm").value;
		if (x == 1) {
			document.getElementById("demo").innerHTML = "<img src='/images/gloomhaven.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML = "Gloomhaven is a game of Euro-inspired tactical combat in a persistent world of shifting motives. Players will take on the role of a wandering adventurer with their own special set of skills and their own reasons for traveling to this dark corner of the world. Players must work together out of necessity to clear out menacing dungeons and forgotten ruins. In the process, they will enhance their abilities with experience and loot, discover new locations to explore and plunder, and expand an ever-branching story fueled by the decisions they make."
		}
		if (x == 2) {
			document.getElementById("demo").innerHTML = "<img src='/images/spiritIsland.png' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML = "Spirit Island is a complex and thematic cooperative game about defending your island home from colonizing Invaders. Players are different spirits of the land, each with its own unique elemental powers. Every turn, players simultaneously choose which of their power cards to play, paying energy to do so. Using combinations of power cards that match a spirit's elemental affinities can grant free bonus effects. Faster powers take effect immediately, before the Invaders spread and ravage, but other magics are slower, requiring forethought and planning to use effectively. In the Spirit phase, spirits gain energy, and choose how / whether to Grow: to reclaim used power cards, to seek for new power, or to spread presence into new areas of the island."
		}
		if (x == 3) {
			document.getElementById("demo").innerHTML = "<img src='/images/andor.png' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML = "Legends of Andor is a cooperative adventure board game for two to four players in which a band of heroes must work together to defend a fantasy realm from invading hordes. To secure Andor's borders, the heroes will embark on dangerous quests over the course of five unique scenarios (as well as a final scenario created by the players themselves). But as the clever game system keeps creatures on the march toward the castle, the players must balance their priorities carefully."
		}
		if (x == 4) {
			document.getElementById("demo").innerHTML = "<img src='/images/ticketToRide.png' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML = "Ticket to Ride: Europe takes you on a new train adventure across Europe. From Edinburgh to Constantinople and from Lisbon to Moscow, you'll visit great cities of turn-of-the-century Europe. Like the original Ticket to Ride, the game remains elegantly simple, can be learned in 5 minutes, and appeals to both families and experienced gamers. Ticket to Ride: Europe is a complete, new game and does not require the original version."
		}
		if (x == 5) {
			document.getElementById("demo").innerHTML = "<img src='/images/monopoly.jpg' class='rounded'  height='250'>"
			document.getElementById("demotext").innerHTML ="Thaw your frozen friends in this Disney-themed Monopoly game for kids! The fast-trading property game meets the power of snow and ice in this Monopoly Junior game. Kids will join Anna, Elsa and Olaf as they travel through Arendelle and buy its most magical locations. Whoever collects the most cash will thaw their freezing heart and win! Start the Frozen fun with this super-fun version of Monopoly Junior!"
		}
		if (x == 6) {
			document.getElementById("demo").innerHTML = "<img src='/images/ages.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML = "Through the Ages is a civilization building game. Each player attempts to build the best civilization through careful resource management, discovering new technologies, electing the right leaders, building wonders and maintaining a strong military. Weakness in any area can be exploited by your opponents. The game takes place throughout the ages beginning in the age of antiquity and ending in the modern age."
		}
		if (x == 7) {
			document.getElementById("demo").innerHTML = "<img src='/images/sythe.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML ="Scythe is an engine-building game set in an alternate-history 1920s period. It is a time of farming and war, broken hearts and rusted gears, innovation and valor. In Scythe, each player represents a character from one of five factions of Eastern Europe who are attempting to earn their fortune and claim their faction's stake in the land around the mysterious Factory. Players conquer territory, enlist new recruits, reap resources, gain villagers, build structures, and activate monstrous mechs."
		}
		if (x == 8) {
			document.getElementById("demo").innerHTML = "<img src='/images/mageknight.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML ="The Mage Knight board game puts you in control of one of four powerful Mage Knights as you explore (and conquer) a corner of the Mage Knight universe under the control of the Atlantean Empire. Build your army, fill your deck with powerful spells and actions, explore caves and dungeons, and eventually conquer powerful cities controlled by this once-great faction! In competitive scenarios, opposing players may be powerful allies, but only one will be able to claim the land as their own. In cooperative scenarios, the players win or lose as a group. Solo rules are also included."
		}
		if (x == 9) {
			document.getElementById("demo").innerHTML = "<img src='/images/dominantspecies.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML ="90,000 B.C.  A great ice age is fast approaching. Another titanic struggle for global supremacy has unwittingly commenced between the varying animal species. Dominant Species is a game that abstractly recreates a tiny portion of ancient history: the ponderous encroachment of an ice age and what that entails for the living creatures trying to adapt to the slowly-changing earth."
		}
		if (x == 10) {
			document.getElementById("demo").innerHTML = "<img src='/images/stef.jpg' class='rounded' height='250'>"
			document.getElementById("demotext").innerHTML ="In Loopin' Louie, a battery-powered motor placed in the center of the table rotates a boom with a little plastic plane. Four radial arms lead out to the players' barns and the chickens they're trying to protect. Each barn has a little lever, which is used to knock the rotating plane away from your chickens and hopefully into someone else's. When only one player has chickens remaining, he or she wins the game. Very silly and very addictive."
		}
	}
</script>
</html>

