<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/home.css}" />
</head>

<body>
	<div class="grid-container">
		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
		<nav>
			<ul class="nav nav-pills nav-fill bg-header-purple">
				<li class="nav-item"><a th:href="@{/account}"
					class="nav-link active">Account Management</a></li>
				<li class="nav-item"><a th:href="@{/customer}"
					class="nav-link active">Customers</a></li>
				<li class="nav-item"><a th:href="@{/order}"
					class="nav-link active">Orders</a></li>
				<li class="nav-item"><a th:href="@{/product}"
					class="nav-link active">Products</a></li>
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link active">Logout</a></li>
			</ul>
		</nav>
	</div>
	<div class="m-3">
	<h3>Select a customer</h3>

	<form action="#" th:action="@{/order}" th:object="${customer}"
		method="post">
		
		<div class="form-group">
		<table table-striped table-hover style="width: 20%">

			<tbody>
				<tr><td><select th:field="*{id}" multiple size="10" class="form-control">
						<option th:each="dropDownItem : ${customerList}"
							th:value="${dropDownItem.getId()}"
							th:text="${dropDownItem.firstname} + ' ' + ${dropDownItem.middlename} + ' ' + ${dropDownItem.surname}">
				</select></td></tr>
				<tr><td>
				<input type="submit" value="View Orders of Customer" class="btn btn-secondary" style="width: 100%">
				</td></tr>
			</tbody>
		</table>
	</form>
	</div>
</body>
</html>
