<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
</head>

<body>
<div class="grid-container">
  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
  </div>
  
  <h3> From which customer do you wish to view the orders?</h3>
  
  <form action="#" th:action="@{/order}" th:object="${customer}" method="post">
  <table>
  		<thead>
  			<th>Customer</th>
  		</thead>
  		<tbody>
			<td>
            	<select th:field="*{id}">
                	<option th:each="dropDownItem : ${customerList}"
                    	th:value="${dropDownItem.getId()}"
                    	th:text="${dropDownItem.firstname}" >
               	</select>
			</td>
  		</tbody>
  </table>
  <input type="submit" value="View Orders of Customer">
  </form>	
  			<a th:href="@{medewerkers}">Terug</a>
			<a th:href="@{order/allOrders/}">Bekijk alle orders</a>
  </body>
  </html>						