.grid-container {
  display: grid;
  grid-template-rows: 0.3fr 2.5fr 0.1fr;
  grid-template-areas: "Header" "Welcome-Message" "Login-Here";
  background-color: #660033;
}


.Header { 
grid-area: Header; 
}
 
.Welcome-Message { 
grid-area: Welcome-Message; 

}

.centered-cell {
text-align: center;
}

.Login-Here { 
grid-area: Login-Here; 

}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  
  .container {
  width: 500px;
  clear: both;
}

.container input {
  width: 100%;
  clear: both;
}
}