<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
</head>
<body>

<div class="grid-container">

  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
  </div>
  
  <div class="Welcome-Message"></div>
  <h1>Welkom in Peter's Webwinkel</h1>

	<div class="row">
		<div class="col-md-6">
			<form action="#" class="form-horizontal"
				  th:action="@{/account/save}"
				  th:object="${accountList}"
				  method="post">
				<fieldset>
					<table class="table">
						<thead>
						<tr>
							<th>Id</th>
							<th>Owner</th>
							<th>Email</th>
							<th>AccountType</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="account, accountList : ${accountList}">
							<td><input th:name="|accounts[${accountList.index}].id|" th:value="${account.id}" readonly /></td>
							<td><input th:name="|accounts[${accountList.index}].customer.firstname|" th:value="${account.customer.firstname}" readonly /></td>
							<td><input th:name="|accounts[${accountList.index}].email|" th:value="${account.email}" /></td>
							<td>
               		 	<select th:name="|accounts[${accountList.index}].AccountType|">
                    		<option th:each="dropDownItem : ${accountTypeList}"
                                     th:value="${dropDownItem}"
                                     th:text="${dropDownItem}" 
                                     th:selected="${dropDownItem == account.accountType}">
                                     />
               			 </select>
							</td>
							<td>
							<a th:href="@{'account/delete/' + ${account.id}}">Delete</a>
							</td>
						</tr>
						</tbody>
					</table>
							<span class="pull-right">
						    <input type="submit" id="submitButton" th:value="Save">
						    <input type="reset" id="resetButton" th:value="Reset"/>
					</span>
				</fieldset>
			</form>
			<a class="button center" th:href="@{medewerkers}">Terug</a>
			<a class="button center" th:href="@{account/create/}">Account toevoegen</a>
		</div>
	</div>
</body>
</html>