<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
</head>
<body>

<div class="grid-container">

  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
  </div>
  
  <div class="Welcome-Message"></div>
  <h1>Welkom in Peter's Webwinkel</h1>

	<div class="row">
		<div class="col-md-6">
			<form action="#" class="form-horizontal"
				  th:action="@{/editAccounts/save}"
				  th:object="${form}"
				  method="post">
				<fieldset>
					<table class="table">
						<thead>
						<tr>
							<th>Id</th>
							<th>Email</th>
							<th>AccountType</th>
						</tr>
						</thead>
						<tbody>
						<tr th:each="account, accountList : ${form.accounts}">
							<td><input th:name="|accounts[${accountList.index}].id|" th:value="${account.getId()}" readonly /></td>
							<td><input th:name="|accounts[${accountList.index}].email|" th:value="${account.getEmail()}" /></td>
							<td>
								<select>
 									<option th:name="|accounts[${accountList.index}].accountType|" value="admin" th:selected="${account.accountType == Admin}" >Admin</option>
  									<option th:name="|accounts[${accountList.index}].accountType|" value="worker" th:selected="${account.accountType == Worker}" >Worker</option>
  									<option th:name="|accounts[${accountList.index}].accountType|" value="customer" th:selected="${account.accountType == Customer}" >Customer</option>
								</select> 
							</td>	    
						</tr>
						</tbody>
					</table>
							<span class="pull-right">
						    <input type="submit" id="submitButton" th:value="Save">
						    <input type="reset" id="resetButton" th:value="Reset"/>
					</span>
				</fieldset>
			</form>
		</div>
	</div>
</body>
</html>