<!DOCTYPE html>
<html>
<head>
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>
<body>
	<div class="grid-container">

		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
	</div>

	<div class="m-3">
		<h1>Welkom in Peter's Webwinkel</h1>


		<form method="POST" th:object="${account}" th:action="@{/login}" id="loginForm">

			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1">Login Details</span>
				</div>

				<table>
					<tr>
						<td><input type="text" class="form-control"
							placeholder="Email" aria-label="Email"
							aria-describedby="basic-addon1" th:field="*{email}"></td>
					</tr>
					<tr>
						<td><input type="password" class="form-control"
							placeholder="Password" aria-label="Password"
							aria-describedby="basic-addon1" th:field="*{password}"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="submit" value="Inloggen"
							class="btn-block" /></td>
					</tr>
				</table>
			</div>

			<p>
			<div>
				<span class="validationError" th:text="${incorrectLogin}"></span>
			</div>

		</form>
	</div>
</body>
</html>



