<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>
<body>

<div class="grid-container">

  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
  </div>
  
	<nav>
	<ul>
		<li><a th:href="@{/account}">Account Management</a></li>
		<li><a th:href="@{/order}" >Orders</a></li>
		<li><a th:href="@{/product}" >Products</a></li>
		<li><a th:href="@{/customer}">Customers</a></li>
		<li><a th:href="@{/logout}">Logout</a></li>
	</ul>

	</nav>
</body>
</html>