<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/home.css}" />
</head>
<body>

	<div class="grid-container">

		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
		<div class="ml-3">
		<font color="white">
			<a th:text ="'Logged in with email: ' + ${#authentication.getPrincipal().getUsername()}"></a>
		</font>
		</div>
		<form method="POST" th:action="@{/logout}">
		<nav>
			<ul class="nav nav-pills nav-fill bg-header-purple">
				<li class="nav-item"><a th:href="@{/account}"
					class="nav-link active">Account Management</a></li>
				<li class="nav-item"><a th:href="@{/customer}"
					class="nav-link active">Customers</a></li>
				<li class="nav-item"><a th:href="@{/order}"
					class="nav-link active">Orders</a></li>
				<li class="nav-item"><a th:href="@{/product}"
					class="nav-link active">Products</a></li>
				<li class="nav-item"><a type="submit" th:href="@{/logout}"
					class="nav-link active">Logout</a></li>
			</ul>
		</nav>
		</form>
	</div>
</body>
</html>