<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>

<body>
<div class="grid-container">
  <div class="Header"></div>
  <img th:src="@{/images/header.png}" alt="Header" class="center"/>
    	<nav >
	<ul class="nav nav-pills nav-fill bg-header-purple">
		<li class="nav-item"><a th:href="@{/account}" class="nav-link active">Account Management</a></li>
		<li class="nav-item"><a th:href="@{/order}" class="nav-link active">Orders</a></li>
		<li class="nav-item"><a th:href="@{/product}" class="nav-link active">Products</a></li>
		<li class="nav-item"><a th:href="@{/customer}" class="nav-link active">Customers</a></li>
		<li class="nav-item"><a th:href="@{/logout}" class="nav-link active">Logout</a></li>
	</ul>
	</nav>
  </div>
  <h1> Enter information of the new customer </h1>
  <form action="#" th:action="@{/customer/update}" th:object="${customer}" method="post" >
  	<table >
  		<tr>
  			<td>Firstname</td>
  			<td>Middlename</td>
  			<td>Surname</td>
  		</tr>
			<tr>
            	<td> <input type="text" th:field="*{firstname}" ></td>
            	<td> <input type="text" th:field="*{middlename}"></td>
            	<td> <input type="text" th:field="*{surname}"></td>
  			</tr>
 	 </table>
    <tr>
   		<a th:href="@{/medewerkers}">Terug naar Hoofdmenu</a>
  		<input type="submit" value="Create Customer" >
  	</tr>
  </form>	
  	
  </body>
  </html>