<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>

<body>
<div class="grid-container">
		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
		<div class="ml-3">
		<font color="white">
			<a th:text ="'Logged in with email: ' + ${#authentication.getPrincipal().getUsername()}"></a>
		</font>
		</div>
		<nav>
			<ul class="nav nav-pills nav-fill bg-header-purple">
				<li class="nav-item"><a th:href="@{/account}"
					class="nav-link active">Account Management</a></li>
				<li class="nav-item"><a th:href="@{/customer}"
					class="nav-link active">Customers</a></li>
				<li class="nav-item"><a th:href="@{/order}"
					class="nav-link active">Orders</a></li>
				<li class="nav-item"><a th:href="@{/product}"
					class="nav-link active">Products</a></li>
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link active">Logout</a></li>
			</ul>
		</nav>
	</div>
  <div class="w-100">
  <div class="m-3">
  <table class="table table-hover">
  		<thead>
  			<th>Firstname</th>
  			<th>Middlename</th>
  			<th>Surname</th>
  			<th></th>
  			<th></th>
  		</thead>
  		
  		<tbody>
  			<tr th:each="customer:${customerList}">
            	<td th:text="${customer.firstname}" width="30%"></td>
            	<td th:text="${customer.middlename}" width="30%"></td>
            	<td th:text="${customer.surname}" width="30%"></td>

  				<td width="5%"> 
  					<a th:href="@{'/customer/update/' + ${customer.id}}">
  						<input type="submit" value="Update" class="btn btn-success"/>
  					</a>
  					
            	</td>
           	 	<td width="5%"> 	
            		<a th:href="@{'/customer/delete/' + ${customer.id}}">
            			<input type="submit" value="Delete" class="btn btn-danger"/>
            		</a>
            	</td>
  			</tr>
  		</tbody>
  </table>
    			<a th:href="@{'/customer/create/'}">
    				<input type="submit" value="Create new Customer" class="btn btn-dark">
    			</a>
    			<p><div><span class="validationError" th:text="${deleteCustomerError}"></span></div></p>
    </div>
    </div>
  </body>
  </html>