<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Peter's Webwinkel</title>
<link rel="stylesheet" th:href="@{/home.css}" />
<link rel="stylesheet" th:href="@{/bootstrap.css}" />
</head>

<body>
	<div class="grid-container">
		<div class="Header"></div>
		<img th:src="@{/images/header.png}" alt="Header" class="center" />
		<nav>
			<ul class="nav nav-pills nav-fill bg-header-purple">
				<li class="nav-item"><a th:href="@{/account}"
					class="nav-link active">Account Management</a></li>
				<li class="nav-item"><a th:href="@{/customer}"
					class="nav-link active">Customers</a></li>
				<li class="nav-item"><a th:href="@{/order}"
					class="nav-link active">Orders</a></li>
				<li class="nav-item"><a th:href="@{/product}"
					class="nav-link active">Products</a></li>
				<li class="nav-item"><a th:href="@{/}"
					class="nav-link active">Logout</a></li>
			</ul>
		</nav>
	</div>
	<div class="m-3">
		<form action="#"
			th:action="@{'/customer/delete/' + ${customerToDelete.id}}"
			th:object="${customerToDelete}" method="post">

			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Middlename</th>
						<th>Surname</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td th:text="*{firstname}" th:field="*{firstname}"></td>
						<td th:text="*{middlename}" th:field="*{middlename}"></td>
						<td th:text="*{surname}" th:field="*{surname}"></td>
						<td><input type="submit" value="Confirm Deletion"
							class="btn btn-danger">
					</tr>
				</tbody>
				<input type="hidden" th:field="*{id}" />
			</table>
				
					<a th:href="@{/customer}" class="btn btn-secondary">Back</a>
				
			<div>
				<span class="validationError" th:text="${deleteCustomerError}"></span>
			</div>
			</p>
		</form>
	</div>
</body>
</html>